*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50vh 25vh 25vh;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: lightblue;
    border: 1px solid yellow;
}
.content7{
    overflow: auto;
}
.content8{
    background-image: url(https://cdn.pixabay.com/photo/2022/10/06/08/54/drawing-7502248__340.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}